/* -------------------------------------- */
/* Header
/* -------------------------------------- */
#topbar {
  position:absolute;
  width:100%;
  padding:3rem 4rem 0;
  z-index:999;
  display: flex;
  justify-content: center;
  align-items: center;
  #logo {
    float:left;
    margin: 0;
    img {
      width: 15rem;
    }
  }
  .menu {
    float:right;
    li {
      display:inline-block;
      margin-left:2.5rem;
      a {
        font-size:1.2rem;
        font-weight:700;
        color:#000;
        text-transform:uppercase;
        letter-spacing:.15rem;
        &.buy {
          display:inline-block;
          background:#c3a26e;
          color:#fff;
          padding: 1.2rem 1rem 1.2rem 1.8rem;
          font-family:Roboto;
          font-weight:700;
          font-size:1.1rem;
          text-transform:uppercase;
          letter-spacing:.2rem;
          box-shadow: 0 0 1.8rem .6rem rgba(138,138,138,0.16);
          transition:.18s;
          &:hover,
          &:focus {
            background:#bf9a60;
            box-shadow: 0 0 1.8rem .6rem rgba(138,138,138,0.22);
          }
        }
      }
    }
  }
}
#logo {
  float:left;
  margin: 0;
  img {
    width: 20rem;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}