// Cover section
.cover-section {
  position: relative;
  padding: 80px 0;
  &:before {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(110deg, rgba(2, 48, 33, 0.65) 32.55%, rgba(25, 126, 0, 0.18) 85.77%);
  }
  .contents {
    height: 670px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      grid-gap: 20px;
      width: 50%;
      h2,
      p {
        color: $white;
        @extend .line_2;
      }
      .btns {
        display: flex;
        justify-content: flex-start;
        grid-gap: 20px;
        align-items: center;
        .more {
          &:hover {
            background: $white;
            color: $black;
          }
        }
      }
    }

  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .cover-section {
    .contents {
      justify-content: center;
      .info {
        width: 100%;
        align-items: center;
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {
  .cover-section {
    .contents {
      justify-content: center;
      .info {
        width: 100%;
        align-items: center;
      }
    }
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
  .cover-section {
    .contents {
      justify-content: flex-start;
      .info {
        width: 50%;
        align-items: flex-start;
      }
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}