// Sessions section
.session-section {
  position: relative;
  padding: 80px 0;

  .contents {
    display: flex;
    grid-gap: 60px;
    flex-direction: row-reverse;
    .big-img {

      flex: 1 0;
      border-radius: 5px;
      box-shadow: 0px 5px 83px 0px rgba(1, 34, 23, 0.12);
      display: flex;
      justify-content: flex-end;
      padding: 30px;
      .tag-text {
        margin-top: auto;
        border-radius: 5px;
        background: $accentColor;
        box-shadow: 0px 5px 83px 0px rgba(1, 34, 23, 0.12);
        padding: 10px 20px;
        color: $white;
        width: 100%;
        text-align: center;
      }
    }
    .details {
      flex: 1 0;
      .title {

        margin-bottom: 20px;
        h5 {
          a {
            font-weight: 300;
            font-size: 14px;
            color: $orange;
          }
        }
        h3 {
          a {
            @extend .line_2;
            @extend .transition;
            &:hover {
              @extend .transition;
              color: $accentColor;
            }
          }
        }
        h4 {
          margin-bottom: 20px;
          a {
            color: $accentColor;
            @extend .line_3;
            font-size: 14px;
            font-weight: 300;
          }
        }
      }

      .courses-list {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        li {
          background: $white;
          border-radius: 5px;
          box-shadow: 0px 5px 83px 0px rgba(1, 34, 23, 0.12);
          @extend .transition;
          a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            grid-gap: 20px;
            padding: 20px;
            @extend .transition;
            @extend .line_1;
          }
          &:hover {
            @extend .transition;
            a {
              @extend .transition;
              i {
                @extend .transition;
                color: $accentColor;
              }
            }
          }
        }
      }
    }
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .session-section {
    .contents {
      flex-direction: column;
      .big-img {
        flex: inherit;
        min-height: 300px;
      }
      .details {
        flex: inherit;
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {
  .session-section {
    .contents {
      flex-direction: row;
      .big-img {
        flex: 1 0;
        min-height: inherit;
      }
      .details {
        flex: 1 0;
      }
    }
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}