#full-layout {
  &.article-pages {
    margin: 30px 0 60px 0;
    main {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .main-content {
        flex: 1 1 0%;
        width: 100%;
        .no-content-placeholder {
          display: flex;
          height: 100%;
          width: 75%;
          margin: 0 auto;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          --tw-text-opacity: 1;
          color: rgba(156, 163, 175, var(--tw-text-opacity));
          border: 1px solid #eee;
          border-radius: 6px;
          padding: 40px 30px;
          h1 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: #231f1e;
            margin-bottom: 30px;
          }
          p {
            color: #231f1e;
            font-size: 14px;
            margin: 0;
            font-weight: 400;
            span {
              font-size: 14px;
              color: #231f1e;
              font-weight: 400;
            }
            a {
              color: rgb(153, 153, 153);
            }
          }
          ul {
            list-style: disc;
          }
          strong {
            font-size: 15px;
            line-height: 26px;
            font-weight: 700;
            color: #231f1e;
          }
        }
      }
    }
  }

}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}