
.section-brands {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
}

.s-brands-list {
  display: grid;
  grid-gap: 20px;
}

.brand-item {
  position: relative;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 6px;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  padding: .75rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}

.brand-item:hover {
  opacity: .95
}

@media(min-width: 640px) {

}

@media(min-width: 768px) {

}

.brand-item:hover img {
  animation: pulse-anime-mini .4s;
}

//brands page
#section {
  h2 {
    padding-top: 130px;
    padding-bottom: 30px;
  }
}
#brands-nav {
  position: fixed;
  right: 0;
  grid-gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000; /* Ensure the navbar stays on top */
  transition: all 0.3s ease;
  a {
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: #6b7280;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    flex-wrap: wrap;
    &:hover {
      background-color: $accentColor;
      color: $white;
    }
    &.active {
      background-color: $accentColor;
      color: $white;
    }
  }
}



// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .s-brands-list {
    grid-template-columns: repeat(2, 1fr);
      .brand-item {
          height: 100px;
          padding: 10px;
      }
  }

}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {
  .s-brands-list {
    grid-template-columns: repeat(4, 1fr);
      .brand-item {
          height:160px;
          padding: 20px;
      }
  }

}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
  .s-brands-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}
