.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 30px;
  margin: 30px 0;
  li {
    position: relative;
    &:before {
      content: "\e970";
      font-family: sallaicons !important;
      speak: never;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      top: 5px;
      left: -23px;
      transform: rotate(180deg);
    }
    &:first-child {
      &:before {
        content: '';
      }
    }
    a {
      color: $accentColor;
    }
  }
}

.category-crumb {
  background: $black;
  .breadcrumbs {
    justify-content: center;
    margin: 20px 0;
    li {
      a {
        color: $white;
        &:hover {
          color: $accentColor;
        }
        span {
          opacity: 1;
        }
      }
      span {
        color: $white;
        opacity: .7;
      }
      &:before {
        color: $white;
      }
    }
  }
}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}