
.btn {
  display: inline-flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 6px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .625rem;
  padding-top: .5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 300ms
}

.btn:hover {
  opacity: .8
}

.btn .loader {
  width: 0;
  opacity: 0;
  height: 16px;
  transform: scale(0);
  transition: .3s
}

.product-entry--minimal .btn--add-to-cart {
  max-width: none
}

.btn--is-loading {
  pointer-events: none
}

.btn--is-loading .loader {
  width: 16px;
  margin: 0 5px;
  opacity: 1;
  transform: scale(1)
}

.btn--delete .loader {
  width: 15px
}

.btn--delete .loader:before {
  width: 12px;
  height: 12px;
  border-top-color: transparent;
  border-bottom-color: #fff;
  border-left-color: transparent;
  border-right-color: #fff
}

.btn--delete.btn--is-loading .icon {
  opacity: 0
}

.btn--quantity {
  width: 2.75rem;
  --tw-text-opacity: 1;
  color: rgba(156,163,175,var(--tw-text-opacity));
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 300ms
}

.btn--quantity:hover {
  color: #414042;
  color: var(--color-primary)
}

.btn__text {
  pointer-events: none;
  display: inline-block;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 500ms
}

.btn--wishlist {
  margin: 0;
  --tw-text-opacity: 1;
  color: rgba(156,163,175,var(--tw-text-opacity))
}

.btn--wishlist:hover {
  color: #414042;
  color: var(--color-primary)
}

.btn--wishlist button.is-active {
  --tw-border-opacity: 1 !important;
  border-color: rgba(239,68,68,var(--tw-border-opacity))!important;
  --tw-bg-opacity: 1 !important;
  background-color: rgba(239,68,68,var(--tw-bg-opacity))!important;
  --tw-text-opacity: 1 !important;
  color: rgba(255,255,255,var(--tw-text-opacity))!important
}

.btn--gray {
  display: inline-flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 6px;
  background-color: rgba(229,231,235,.3);
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 500;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}

.btn--gray:hover {
  background-color: rgba(229,231,235,.5)
}

.header-is-dark .btn--gray {
  background-color: rgba(255,255,255,.03);
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity))
}

.header-is-dark .btn--gray:hover {
  background-color: rgba(255,255,255,.05)
}

.header-is-dark .is-opened .btn--gray {
  background-color: rgba(255,255,255,.05)
}

.btn--collapse {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  padding-top: .625rem;
  padding-bottom: .625rem;
  font-size: .875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(107,114,128,var(--tw-text-opacity))
}

.btn--collapse:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(249,250,251,var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(55,65,81,var(--tw-text-opacity))
}

@media(min-width: 640px) {
  [dir=ltr] .btn--collapse {
    padding-left:1.75rem;
    padding-right: 1.25rem
  }

  [dir=rtl] .btn--collapse {
    padding-right: 1.75rem;
    padding-left: 1.25rem
  }
}

.btn--nav-arrow {
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(31,41,55,var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgba(107,114,128,var(--tw-text-opacity));
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms
}

.btn--nav-arrow:not(:disabled):hover {
  border-color: var(--color-primary-dark);
  background-color: #414042;
  background-color: var(--color-primary);
  color: #ff6767;
  color: var(--color-primary-reverse)
}

.btn.btn:disabled {
  cursor: default;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(229,231,235,var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(209,213,219,var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow,0 0 rgba(0,0,0,0)),var(--tw-ring-shadow,0 0 rgba(0,0,0,0)),var(--tw-shadow)
}

.btn.btn:disabled:hover {
  background-color: transparent
}

.btn:disabled .s-button-text {
  opacity: .7
}

.btn--white {
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(55,65,81,var(--tw-text-opacity))
}

.btn--white:hover {
  opacity: .8
}

.btn--danger {
  --tw-border-opacity: 1;
  border-color: rgba(248,113,113,var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(248,113,113,var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity))
}

.btn--danger:hover {
  opacity: .8
}

.btn--black {
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgba(14,15,15,var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity))
}

.btn--black:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(29,31,31,var(--tw-bg-opacity))
}

.btn--primary {
  border-width: 1px;
  border-color: #414042;
  border-color: var(--color-primary);
  background-color: #414042;
  background-color: var(--color-primary);
  color: #ff6767;
  color: var(--color-primary-reverse)
}

.btn--outline-primary {
  border-width: 1px;
  border-color: #414042;
  border-color: var(--color-primary);
  color: #414042;
  color: var(--color-primary)
}

.btn--outline-primary:hover {
  background-color: #414042;
  background-color: var(--color-primary);
  color: #ff6767;
  color: var(--color-primary-reverse)
}

.btn--outline {
  position: relative;
  overflow: hidden;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(107,114,128,var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(75,85,99,var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow,0 0 rgba(0,0,0,0)),var(--tw-ring-shadow,0 0 rgba(0,0,0,0)),var(--tw-shadow);
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 300ms
}

.btn--outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(17,24,39,var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(17,24,39,var(--tw-text-opacity))
}

.btn--outline:before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 0;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(249,250,251,var(--tw-bg-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 300ms;
  --tw-content: "";
  content: var(--tw-content)
}
.s-button-btn {
  position: relative;
  display: inline-flex;
  flex: 1 1 0%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 6px;
  border-style: solid;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .625rem;
  padding-top: .5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 300ms;
}
.s-button-primary {
  border-width: 1px;
  border-color: #414042;
  border-color: var(--color-primary);
  background-color: #414042;
  background-color: var(--color-primary);
  color: #ff6767;
  color: var(--color-primary-reverse);
}