#footer {
  background: #f9fafb;
  .footer {
    border-bottom: 1px dashed #e5e7eb;
    padding: 60px 0;
    display: grid;
    grid-gap: 20px;
    .f-item {
      display: flex;
      flex-direction: column;
      grid-gap: 30px;
      ul {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
      }
      .logo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        img {
          max-width: 150px;
        }
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #374151;
        padding-right: 30px;
      }
      h3 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        color: #374151;
      }
      li {
        a {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: #374151;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          grid-gap: 7px;
          i {
            font-size: 14px;
            font-weight: 400;
            color: #374151;
          }
          .fa-solid, .fas {
            font-weight: 600;
            font-size: 12px;
            color: #374151;
            position: relative;
            top: 5px;
          }
          &:hover,
          &:focus {
            opacity: .7;
          }
        }
      }
      .social-icons {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        li {
          i {
            border: 1px solid #e5e7eb;
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
          }
        }

      }
      .social-accounts {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        grid-gap: 20px;
      }

      &.f-my-account {
        li {
          &:last-child {
            a {
              color: #dc2626;
            }
          }
        }
      }

    }
  }
}


// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #footer {
    .footer {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {
  #footer {
    .footer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
  #footer {
    .footer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
  #footer {
    .footer {
      grid-template-columns: 2fr 1fr 1fr 1fr;
    }
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}