#header {
  background: #f9fafb;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 105px;
  animation: fadein 2s;
  .header {
    height: 105px;
    grid-gap: 60px;
    .logo {
      a {
        img {
          max-height: 50px;
        }
      }
    }
  }
}
.navigate {
  grid-gap: 20px;
  .fa-bars {
    font-size: 22px;
  }
}
.search-box {
  width: 100%;
  position: relative;
  i {
    position: absolute;
    left: 20px;
    top: 12px;
    color: #9ca3af;
    height: 16px;
    width: 16px;
  }
  .s-search-input {
    height: 2.5rem;
    width: 100%;
    border-radius: .375rem;
    --tw-border-opacity: 1;
    border-color: rgba(243,244,246,var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    padding-top: 0;
    padding-bottom: .125rem;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(75,85,99,var(--tw-text-opacity));
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 300ms;
    padding-left: 45px;
    &:focus {
      border: 1px solid #8f96a2;
    }
  }
}


.user-control {
  grid-gap: 20px;
  li {
    a {
      position: relative;
      grid-gap: 10px;
        cursor: pointer;
      .icon {
        font-size: 34px;
        line-height: 1;
      }
      span {
        font-size: 14px;
        line-height: 14px;

        &.s-cart-summary-count {
          position: absolute;
          top: -1px;
          left: -5px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          --tw-bg-opacity: 1;
          background-color: rgba(248,113,113,var(--tw-bg-opacity));
          padding: .25rem;
          font-size: 12px;
          line-height: 16px;
          font-weight: 700;
          --tw-text-opacity: 1;
          color: rgba(255,255,255,var(--tw-text-opacity));
          height: 18px;
          width: auto;
          min-width: 18px;
          border-width: 2px;
          border-color: #f9fafb;
        }
        p {
          color: #8d8c8c;
          font-weight: 300;
          line-height: 24px;
        }
        span {
          color: $black;
          font-weight: 300;
          &.cart-amount {
            font-weight: 700;
          }
        }
      }
    }
  }
}
.sticky-top {
  animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
