#header {
  background: #f9fafb;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 105px;
  animation: fadein 2s;
    margin-bottom: 20px;
  .header {
    height: 105px;
    grid-gap: 60px;
    .logo {
      a {
        img {
          max-height: 50px;
        }
      }
    }
  }
}
.navigate {
  grid-gap: 20px;
  .fa-bars {
    font-size: 22px;
  }
}
.search-box {
  width: 100%;
  position: relative;
  i {
    position: absolute;
    left: 20px;
    top: 12px;
    color: #9ca3af;
    height: 16px;
    width: 16px;
  }
  .s-search-input {
    height: 2.5rem;
    width: 100%;
    border-radius: .375rem;
    --tw-border-opacity: 1;
    border-color: #e5e7eb;
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    padding-top: 0;
    padding-bottom: .125rem;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(75,85,99,var(--tw-text-opacity));
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 300ms;
    padding-left: 45px;
    &:focus {
      border: 1px solid #e5e7eb;
        outline: 0;
        box-shadow: none;
    }
  }

    #searchBar {
        width: 300px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    #loading {
        border: 4px solid #f3f3f3;
        border-top: 4px solid $accentColor;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
        margin-bottom: 10px;
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }

    .hidden {
        display: none;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    #resultsList {
        list-style-type: none;
        padding: 0;
        position: absolute;
        z-index: 20000;
        width: 100%;
        left: 0;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
        max-height: 300px;
        max-width: 100%;
        overflow-y: auto;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        --tw-bg-opacity: 1;
        background-color: $white;
    }

    #resultsList li {
        border-bottom: 1px solid #eee;
        cursor: pointer;
        padding: 0;
        &:last-child {
            border-color: transparent;
        }
        .item {
            display: flex;
            align-items: center;
            grid-gap: 20px;
            flex-direction: row;
            background: transparent;
            padding: 7px 20px;
            .img {
                width: 80px;
                height: 80px;
                border-radius: 5px;
                min-width: 80px;
                flex-basis: 80px;
                img {
                    object-fit: contain;
                    width: 80px;
                    min-height: 80px;
                    height: 80px;
                    border-radius: 5px;
                }
            }
            .data {
                h4 {
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 700;
                    color: #4b5563;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 700;
                    color: #5e6fb4;
                }
            }
        }
    }

    #resultsList li:hover {
        background-color: #f9fafb;
    }
}


.user-control {
  grid-gap: 20px;
  li {
    a {
      position: relative;
      grid-gap: 10px;
        cursor: pointer;
      .icon {
        font-size: 34px;
        line-height: 1;
      }
      span {
        font-size: 14px;
        line-height: 14px;

        &.s-cart-summary-count {
          position: absolute;
          top: -1px;
          left: -5px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          --tw-bg-opacity: 1;
          background-color: rgba(248,113,113,var(--tw-bg-opacity));
          padding: .25rem;
          font-size: 12px;
          line-height: 16px;
          font-weight: 700;
          --tw-text-opacity: 1;
          color: rgba(255,255,255,var(--tw-text-opacity));
          height: 18px;
          width: auto;
          min-width: 18px;
          border-width: 2px;
          border-color: #f9fafb;
        }
        p {
          color: #8d8c8c;
          font-weight: 300;
          line-height: 24px;
        }
        span {
          color: $black;
          font-weight: 300;
          &.cart-amount {
            font-weight: 700;
          }
        }
      }
    }
  }
}
.sticky-top {
  animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.mobileSearch {
    display: none;
}
:dir(rtl) {
    .close-btn {
        right: inherit;
        left: 8px;
    }
    .search-box {
        .s-search-input {
            padding-left: 0;
            padding-right: 45px;
        }
        i {
            left: inherit;
            right: 20px;
        }
    }
    #loading {
        right: inherit;
        left: 8px;
    }
}


// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #header {
        display: none;
    }
    #mobileHeader {
        background: #f9fafb;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        display: block;
        margin-bottom: 20px;
        .header {
            display: flex;
            grid-gap: 30px;
            align-items: center;
            height: 80px;
            .logo {
                img {
                    height: 50px;
                    width: 50px;
                }
            }
            .user-control {
                margin-left: auto;
            }
        }
    }
    .offcanvas-body {
        .user-control {
            display: block;
            border-bottom: 1px solid #eee;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }

}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {
    #header {
        display: block;
        .header {
            grid-gap: 30px;
        }
    }
    #mobileHeader {
        display: none;
    }
    .offcanvas-body {
        .user-control {
            display: none !important;
        }
    }

}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
    #header {
        display: block;
        .header {
            grid-gap: 40px;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}
