.product_page {
  display: grid;
  grid-gap: 40px;

  .item_brand {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
    .brand_img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 70px;
      overflow: hidden;
    }
    .brand_data {
      display: flex;
      flex-direction: column;
      .status {
        color: #73be22;
      }
      a {
        color: $black;
        font-size: 13px;
        strong {
          color: $accentColor;
        }
      }
    }
  }

  .product_info {
    margin: 10px 0;
  }

  .product_description {
    @extend .line_3;
    p {
      line-height: 26px;
      margin-bottom: 20px;
    }
  }

  .item-price {
    span {
      font-size: 20px;
    }
    .before-dis {
      color: #6b7280;
      text-decoration: line-through;
      margin-bottom: 5px;
    }
    .after-dis {
      color: #ff001f;
      .discount {
        margin-left: 30px;
        background: #fbe7e9;
        color: #ff001f;
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 12px;
      }
    }
  }

  .vat {
    color: #797979;
    font-size: 12px;
  }


  .alert {
    margin: 15px 0;
    border: 0;
    padding: 10px 20px;
    &.alert-danger {
      background: #fbe7e9;
      font-size: 14px;
    }
  }

  .add-to-cart {
    width: 100%;
    background: #222222;
    color: $white;
  }


.p-slider {
  display: grid;
  top: 130px;
  position: sticky;
  .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-position: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

  .p-full-image {
    height: 400px;
    width: 100%;
    .swiper-slide {
      img {
        object-fit: contain !important;
      }
    }
  }

  .p-thumb {
    height: 120px;
    padding: 10px 0;
    .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
      border-radius: 6px;
      border: 1px solid #eee;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }


  .p-prev,
  .p-next {
    background: $white;
    box-shadow: 0 10px 15px -3px #d1d5db, 0 4px 6px -4px #d1d5db;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    opacity: .7;
    position: absolute;
    z-index: 100;
    top: 50%;
    i {
      color: #6b7280;
    }
    &:hover {
      border-color: $accentColor;
      i {
        color: $accentColor;
      }
    }
  }


  .p-next {
    right: 5px;
  }
  .p-prev {
    left: 5px;
  }

  .swiper-button-disabled {
    opacity: .3;
    cursor: default;
  }
}

.product_tabs {
  .nav {
    background-color: #f9fafb;
    display: flex;
  }
  .nav-tabs {
    .nav-link {
      border: 0;
      background: transparent;
      color: $black;
      opacity: .5;
      &.active {
        color: $accentColor;
        opacity: 1;
      }
    }
  }

  .tab-content {
    background-color: #f9fafb;
    padding: 15px 30px;
  }

}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .product_page {
    grid-template-columns: 1fr;
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {
  .product_page {
    grid-template-columns: 1fr;
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
  .product_page {
    grid-template-columns: 1fr 1fr;
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
  .product_page {
    grid-template-columns: 1fr 1fr;
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .product_page {
    grid-template-columns: 1fr 1fr;
  }
}
