.product_page {
    display: grid;
    grid-gap: 40px;

    .item_brand {
        display: flex;
        grid-gap: 20px;
        align-items: center;
        //border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        margin-bottom: 15px;
        .brand_img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 70px;
            overflow: hidden;
        }
        .brand_data {
            display: flex;
            flex-direction: column;
            .status {
                color: #73be22;
            }
            a {
                color: $black;
                font-size: 13px;
                line-height: 26px;
                strong {
                    color: $accentColor;
                }
            }
        }
    }

    .product_info {
        margin: 10px 0;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        color: #1f2937;
    }
    .item-price {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
    .quantity-controls {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        button,
        input {

            height: 42px;
            font-size: 20px;
        }
        input {
            border-top: 1px;
            border-bottom: 1px;
            border-style: solid;
            border-color: #eee;
            width: 60px;
            padding: 0;
            text-align: center;
            padding-left: 10px;
        }

        button {
            border: 1px solid #eee;
            color: #9ca3af;
            &:first-child {
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }
            &:last-child {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
    }

    .variants {
        display: flex;
        grid-gap: 20px;
        justify-content: start;
        align-items: center;
    }

    aside {
        .sticky-top {
            top: 120px;
        }
        .has-discount {
            position: absolute;
            top: .75rem;
            left: .75rem;
            z-index: 1;
            border-radius: 6px;
            padding: 2px 10px;
            --tw-bg-opacity: 1;
            background-color: rgba(239, 68, 68, 1);
            --tw-text-opacity: 1;
            color: rgba(255, 255, 255, var(--tw-text-opacity));
            font-size: 12px;
            color: $white;
            line-height: 26px;
            font-weight: 400;
        }
    }

    .product_description {
        @extend .line_3;
        p,
        li {
            line-height: 26px;
            margin-bottom: 20px;
            color: #4b5563;
            font-size: 15px;
            line-height: 24px;
            font-weight: 400;
        }
    }

    .product-price {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        .before-dis {
            display: flex;
            flex-direction: column;
            grid-gap: 5px;
            color: #6b7280;
            span {
                text-decoration: line-through;
            }
        }
        .after-dis {
            .with-dis {
                font-size: 20px;
                line-height: 28px;
                font-weight: 700;
                color: #231f1e;
            }
        }
        .no-dis {
            color: #f87171;
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
        }
    }

    .vat {
        text-decoration: none;
        font-size: 12px;
        line-height: 12px;
        color: #9ca3af;
        font-weight: 400;
    }


    .alert {
        margin: 15px 0;
        border: 0;
        padding: 10px 20px;
        &.alert-danger {
            background: #fbe7e9;
            font-size: 14px;
        }
    }

    .add-to-cart {
        width: 100%;
        background: $accentColor;
        color: $white;
    }


    .p-slider {
        display: grid;
        top: 130px;
        position: sticky;
        .swiper {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-size: contain;
                background-position: center;
            }
        }
        .p-full-image {
            border: 1px solid #eee;
            border-radius: 5px;
            width: 100%;
            img {
                height: 400px;
            }
        }
        .p-thumb {
            img {
                height: 100px;
                padding: 4px 0;
            }
        }
    }



    .p-thumb {
        height: 120px;
        padding: 10px 0;
        .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
            border-radius: 6px;
            border: 1px solid #eee;
        }
        .swiper-slide-thumb-active {
            opacity: 1;
        }
    }


    .p-prev,
    .p-next {
        background: $white;
        box-shadow: 0 10px 15px -3px #d1d5db, 0 4px 6px -4px #d1d5db;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        opacity: .7;
        position: absolute;
        z-index: 100;
        top: 50%;
        i {
            color: #6b7280;
        }
        &:hover {
            border-color: $accentColor;
            i {
                color: $accentColor;
            }
        }
    }


    .p-next {
        right: 5px;
    }
    .p-prev {
        left: 5px;
    }

    .swiper-button-disabled {
        opacity: .3;
        cursor: default;
    }
}

.product_tabs {
    padding: 40px 0;
    .nav {
        padding: 0;
        display: flex;
    }
    .nav-tabs {
        border-bottom: 2px solid $accentColor;
        .nav-link {
            border: 0;
            background: transparent;
            color: $black;
            opacity: .5;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            color: #6b7280;
            font-weight: 400;
            height: 44px;
            transition: .25s all;
            &.active {
                color: $white;
                background: $accentColor;
                opacity: 1;
                transition: .25s all;
            }
            &:hover {
                border: 0;
                transition: .25s all;
                &.active {
                    opacity: .9;
                    transition: .25s all;
                }
            }
        }
    }

    .tab-content {
        border: 1px solid #eee;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 15px 30px;
    }

}

.sku_number {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        p {
            font-size: 14px;
            font-weight: normal;
            line-height: 20px;
            color: #231f1e;
        }
    }
    .code_number {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #231f1e;
    }
}

.sticky_card {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: flex;
    width: 100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    align-items: center;
    justify-content: space-between;
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    padding: .625rem;
    --tw-shadow: 0 0 10px rgba(0,0,0,0.1);
    --tw-shadow-colored: 0 0 10px var(--tw-shadow-color);
    box-shadow: 0 0 transparent,0 0 transparent,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 rgba(0,0,0,0)),var(--tw-ring-shadow,0 0 rgba(0,0,0,0)),var(--tw-shadow);
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.55,0,.1,1);
    padding: 20px;

    .product_Properties {
        display: flex;
        align-items: center;
        grid-gap: 20px;
    }
    .small_product {
        margin-left: auto;
        display: flex;
        grid-gap: 20px;
        align-items: center;
        .p-img {
            width: 60px;
            height: 60px;
            img {
                width: 60px;
                height: 60px;
            }
        }
        .p-info {
            .category {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: #6b7280;
                &:hover {
                    text-decoration: underline;
                }
            }
            h3 {
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                color: #1f2937;
                @extend .line_2;
            }
        }
    }
}

:dir(rtl) {
    .sticky_card {
        .small_product {
            margin-right: auto;
            margin-left: 0;
        }
    }
    .product_page .quantity-controls button:first-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    .product_page .quantity-controls button:last-child {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}


// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .product_page {
        grid-template-columns: 1fr;
    }
    .sticky_card {
        .product_Properties {
            flex-direction: column;
            grid-gap: 20px;
            width: 100%;
            .quantity-controls {
                width: 100%;
                input {
                    width: inherit;
                }
            }
            .product-price {
                display: none;
            }
        }
        .small_product {
            display: none;
        }
    }
    .in-mobile {
        display: flex;
        padding-bottom: 30px;
    }
    #variant-form {
        flex-wrap: wrap;
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {
    .product_page {
        grid-template-columns: 1fr;
        .product-price {
            &.in-mobile {
                display: none;
            }
        }
    }

    .sticky_card {
        .product_Properties {
            flex-direction: row;
            grid-gap: 20px;
            width: 100%;
            .quantity-controls {
                width: 50%;
                input {
                    width: 100px;
                }
            }
            .product-price {
                display: flex;
                width: 50%;
            }
        }
        .small_product {
            display: none;
        }
    }

}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
    .product_page {
        grid-template-columns: 1fr 1fr;
    }
    .product-price {
        &.in-mobile {
            display: none;
        }
    }
    .sticky_card {
        .product_Properties {
            display: flex;
            align-items: center;
            grid-gap: 20px;
            width: auto;
            flex-wrap: wrap;
            .quantity-controls {
                width: auto;
                input {
                    width: 100px;
                }
            }
            .product-price {
                display: flex;
                width: auto;
            }
        }
        .small_product {
            display: flex;
            margin-left: auto;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
    .product_page {
        grid-template-columns: 1fr 1fr;
    }
    .in-mobile {
        display: none;
    }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}
