:dir(rtl) {
    body {
        text-align: right;
    }
    .user-control li a span.s-cart-summary-count {
        left: inherit;
        right: -5px;
    }
    .section-categories .navigation .care-next, .section-categories .navigation .care-prev, .section-categories .navigation .cat-next, .section-categories .navigation .cat-prev, .section-categories .navigation .latest-next, .section-categories .navigation .latest-prev, .section-categories .navigation .salon-next, .section-categories .navigation .salon-prev,
    #footer .footer .f-item li a .fa-solid, #footer .footer .f-item li a .fas {
        transform: rotate(-180deg);
    }
    .item .item-data .item-dec a {
        text-align: right;
    }
    .item .item-data .add-favourite {
        margin-left: inherit;
        margin-right: auto;
    }
    .order-summary .coupons .apply button {
        left: 0;
        right: inherit;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .item_cart .entries .removeItem {
        right: inherit;
        left: 15px;
    }

    .nav__link {
        i {
            transform: rotateY(180deg);
        }
    }
    .newsletter {
        .input-group {
            flex-direction: row-reverse;
        }
    }
    .breadcrumbs li:before {
        left: inherit;
        right: -23px;
        transform: rotateY(0deg);
    }

    .user-page-layout .user-layout aside .user-sidebar ul li a svg {
        margin-right: 0;
        margin-left: 0.75rem;
    }

}

@media (max-width: 575.98px) {
    :dir(rtl) {
        #mobileHeader .header .user-control {
            margin-left: inherit;
            margin-right: auto;
        }
    }
}
