
.nav,
.nav__sub {
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
  list-style-type: none;
}

.nav {
  position: relative;
  background-color: $white;
  overflow: hidden;
  display: block;
}

.nav__item + .nav__item {
  margin-top: 15px;
}

.nav__link {
  font-weight: 500;
  color: $black;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.sub__close {
    justify-content: flex-start;
    grid-gap: 7px;
  }
}

.nav__sub {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);

  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
}