#topbar {
  background: $white;
  height: 60px;
  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    height: 60px;
    .left,
    .right {
      display: flex;
      align-items: center;
      grid-gap: 40px;
    }
    .left {
      .topnav-link-item {
        display: flex;
        align-items: center;
        grid-gap: 10px;

        i {
          background-color: rgba(229, 231, 235, .3);
          padding-left: 0.75rem;
          padding-right: 0.75rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          display: flex;
          height: 1.75rem;
          width: 1.75rem;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          font-size: .875rem;
          line-height: 1.25rem;
          transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
          transition-timing-function: cubic-bezier(.4,0,.2,1);
          transition-duration: 300ms
        }
        span {
          opacity: .5;
        }
        &:hover {
          span {
            opacity: 1;
          }
        }
      }
    }
    .right {
      ul {
        display: flex;
        grid-gap: 10px;
        align-items: center;
        li {
          opacity: .5;
          padding-left: 10px;
          &:hover {
            opacity: 1;
          }
          border-left: 1px solid rgb(188, 188, 195);
          &:first-child {
            border-left: 0;
            padding-left: 0;
          }
          a {
            display: flex;
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
.lang {
  .select-lang {
    display: inline-flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 6px;
    background-color: rgba(229, 231, 235, .3);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 150ms;
  }
  .language {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    img {
      width: 20px;
      height: 10px;
      border-radius: 2px;
    }
    span {
      padding-left: 10px;
      border-left: 1px solid $black;
    }
  }


}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #topbar {
    height: auto;

    .topbar {
      height: auto;
      flex-direction: column;
      .right {
        display: none;
      }
      .left {
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}