.checkout_page {
  background: #f7f7f7;
  .container {
    max-width: 930px;
    margin: 30px auto;
  }

  header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    padding: 15px;
    background: white;
    display: flex;
    grid-gap: 20px;
    align-items: center;
    border-bottom: 1px dashed #cbcaca;
    position: relative;
    border-radius: 8px;
    &:after,
    &:before {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #f7f7f7;
    }
    &:after {
      left: -10px;
    }
    &:before {
      right: -10px;
    }

    .logo {
      align-items: center;
      border: 1px solid #cecece;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      min-height: 80px;
      min-width: 80px;
      padding: 8px;
      position: relative;
      img {
        display: block;
        max-height: 50px;
        max-width: 100px;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }

    .heading {
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
      .breadcrumb {
        display: flex;
        grid-gap: 10px;
        margin: 0;
        li {
          position: relative;
          color: rgba(0,0,0,.5);
          font-size: 12px;
          a {
            color: rgba(0,0,0,.5);
          }
          &:after {
            content: "/";
            padding-left: 7px;
            color: rgba(0,0,0,.5);
          }
          &:last-child {
            &:after {
              content: none;
            }
          }
        }
      }
    }
  }

  .order_summary {
    padding: 15px;
    border-radius: 8px;
    background: white;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    .item {
      h6,
      span {
        font-size: 14px;
        b {
          font-weight: normal;
        }
      }
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dashed #cbcaca;
    }
    .checkout_summary {
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
      margin-bottom: 20px;
      .item {
        h6,
        span {
          font-size: 14px;
          b {
            font-weight: normal;
          }
        }
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dashed #cbcaca;
      }
    }
    .item_coupons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      b {
        font-weight: normal;
      }
    }
    .has_coupons {
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
      padding: 10px 0;
      margin-bottom: 20px;
      a {
        margin-left: auto;
        font-size: 13px;
        color: #f55157;
        font-weight: normal;
      }
    }
    #couponCode {
      position: relative;
      form {
        position: relative;
        input {
          width: 100%;
          height: 42px;
          border: 1px solid #eee;
          border-radius: 5px;
          padding-left: 20px;
          padding-right: 120px;
          &:focus {
            outline: 0;
            box-shadow: none;
            border-color: #cbcaca;
          }
        }
        button {
          position: absolute;
          right: 0;
          top: 0;
          height: 42px;
          background: #5e6fb4;
          color: white;
          border: 0;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          min-width: 100px;
        }
      }
    }
  }

  .checkout_invoice {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin-top: -20px;
    border: 10px solid #f7f7f7;
    border-radius: 50px;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    font-size: 12px;

    text-decoration: none;
    span {
      border: 1px solid #333;
      padding: 5px;
      border-radius: 50px;
    }
  }

  .accordion {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    border-radius: 8px;
    .accordion-item {
      border: 0;
      border-bottom: 1px solid #cbcaca;
      &:last-child {
        border: 0;
      }
      .accordion-header {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
          display: flex;
          flex-direction: column;
          grid-gap: 0px;
          b {
            display: flex;
            grid-gap: 20px;
            align-items: center;
            font-size: 16px;
            strong {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              border: 1px solid #cbcaca;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          span {
            font-size: 12px;
            color: #666;
            margin-left: 70px;
          }
        }

        .edit-button {
          border: 1px solid #cbcaca;
          color: #cbcaca;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }

    .btn-add {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 42px;
      border: 1px dashed #cbcaca;
      border-radius: 5px;
      width: 100%;
      background: white;
      padding-left: 20px;
      font-size: 14px;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      color: black;
      opacity: .8;
      margin-bottom: 20px;
    }
    .btn-close-address {
      cursor: pointer;
      width: 25px;
      height: 25px;
      position: absolute;
      right: 15px;
      top: -54px;
      color: #f55157;
      border-radius: 50%;
      border: 1px solid #f55157;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      text-decoration: none;
      z-index: 199999;
    }
    .btn-save {
      border: 0;
      background: #5e6fb4;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 5px;
      width: 100%;
      font-size: 14px;
      height: 42px;
    }
    .new-address-form,
    .edit-address-form {
      position: relative;
      border: 1px solid #cbcaca;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .grid-list {
      position: relative;
      border: 1px dashed #cbcaca;
      padding: 15px;
      border-radius: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 20px;
      margin-bottom: 20px;
      label,
      input {
        font-size: 14px;
      }
    }
    .address-list {

      .address-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #cbcaca;
        padding: 10px 15px;
        border-radius: 5px;
        label {
          width: 100%;
          input {
            margin-left: 5px;
            margin-right: 10px;
          }
        }
        .btns {
          display: flex;
          grid-gap: 5px;
          .btn-link {
            border: 0;
            border-radius: 5px;
            background: transparent;
            text-decoration: none;
            font-size: 12px;
            &:last-child {
              color: #f55157;
            }
          }
        }
      }

    }
      .shipping-methods {
        margin-bottom: 10px;
        .shipping-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #cbcaca;
          padding: 5px 15px;
          height: 50px;
          border-radius: 5px;
          margin-bottom: 10px;
          label {
            font-size: 14px;
            input {
              margin-left: 0px;
              margin-right: 10px;
              margin-top: 11px;
            }
            img {
              border-radius: 8px;
              height: 35px;
              object-fit: contain;
              width: 45px;
            }
          }
          .shipping-cost {
            font-size: 14px;
          }
        }
      }
    .payment-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #cbcaca;
      padding: 5px 15px;
      height: 50px;
      border-radius: 5px;
      margin-bottom: 10px;
      label {
        font-size: 14px;
        input {
          margin-left: 0px;
          margin-right: 10px;
          margin-top: 11px;
        }
        img {
          border-radius: 8px;
          height: 35px;
          object-fit: contain;
          width: 45px;
        }
      }
      .shipping-cost {
        font-size: 14px;
      }
    }
    .payment-options {
      display: flex;
      align-items: center;
      grid-gap: 10px;
    }
  }

}
.new-address-form,
.edit-address-form,
.visa-form,
.mastercard-form {
  display: none;
  margin-top: 10px;
}
.payment-option {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.payment-option img {
  width: 50px;
}


.payment-wrapper {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}