.useful_links_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  a {
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    padding: 0 20px;
    &:not(:first-child) {
      border-right: 1px solid ;
      border-color: var(--theme-divider);
    }
  }
}

.footer_copyrights {
  text-align: center;
  padding-bottom: 60px;
  p {
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    a {
      font-size: 20px;
      line-height: 23px;
      font-weight: 300;
    }
  }
}

.light-theme {
  .footer_copyrights {
    text-align: center;
    padding-bottom: 60px;
    p {
      color: $black;
      a {
        color: $black;
      }
    }
  }
}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}