.logo_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  .logo-area__logo {
    filter: invert(100%) contrast(3);
    width: 90px;
    height: 60px;
    flex: 0 0 90px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}