@font-face {
  font-family:DINNextLTArabic-Regular;
  src:url(../fonts/DINNextLTArabic-Regular.woff2) format("woff2"),
  url(../fonts/DINNextLTArabic-Regular.woff) format("woff");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}

@font-face {
  font-family:DINNextLTArabic-Regular-Medium;
  src:url(../fonts/DINNextLTArabic-Regular.woff2) format("woff2"),
  url(../fonts/DINNextLTArabic-Regular.woff) format("woff");
  font-weight:300;
  font-style:normal;
  font-display:swap;
}
@font-face {
  font-family:DINNextLTArabic-Regular-Bold;
  src:url(../fonts/DINNextLTW23-Medium.woff2) format("woff2"),
  url(../fonts/DINNextLTW23-Medium.woff) format("woff");
  font-weight:700;
  font-style:normal;
  font-display:swap;
}