
/* Fonts */
$fontReg: DINNextLTArabic-Regular;
$fontMed: DINNextLTArabic-Regular-Medium;
$fontBol: DINNextLTArabic-Regular-Bold;
/* Fonts */

// Fonts
$headingFont: DINNextLTArabic-Regular-Bold;
$bodyFont: DINNextLTArabic-Regular;

//colors

$accentColor: #c3a26e;
$brightColor: #f7f7f7;
$black: black;
$darkColor: #181818;
$white: white;
$textBlack: rgba(0,0,0,.6);
$textWhite: rgba(255,255,255, .6);